div .fixes {
    height: 100%;
    width: 100%;
    position: absolute;
}

.edit-btn {
    transform: translateY(50%) scale(.6);
}

a {
    color: #000000;
}

.red {
    background-image: linear-gradient(to left, #db4437, white, white);
}

.yellow {
    background-image: linear-gradient(to left, #f4b400, white, white);
}

.green {
    background-image: linear-gradient(to left, #0f9d58, white, white);
}

td .collapsible-body {
    border: none;
    width: 100%;
    padding-bottom: 0;
    padding-top: 20px;
}

td .collapsible-header {
    border: none;
    display: unset;
}

tr.collapsible {
    border-left: none;
    border-right: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.modal {
    width: fit-content;
    top: 0;
    bottom: 0;
    height: fit-content;
}

.modal.form {
    width: 60%;
}

.fixed-action-btn {
    right: 10%;
    bottom: 5%;
}

div.fixed-action-btn ul {
    width: max-content;
}

div.fixed-action-btn ul li a.btn-floating {
    margin-left: 20px;
}

a.btn-large {
    margin: 10px;
}

a.btn-large img {
    top: 15px;
    margin-right: 15px;
    height: 24px;
    filter: invert(100%);
}

a.btn {
    margin: 10px;
}

a.btn img {
    top: 7px;
    margin-right: 15px;
    height: 24px;
    filter: invert(100%);
}