<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Error Occurred</title>
    <link rel="stylesheet" type="text/css" href="webjars/materializecss/1.0.0/css/materialize.css">
    <link rel="stylesheet" href="webjars/material-design-icons/3.0.1/material-icons.css">
    <script src="webjars/jquery/3.3.1/jquery.js">
    </script>
    <script type="text/javascript" src="webjars/materializecss/1.0.0/js/materialize.js">
    </script>
</head>
<body>
<div class="container">
    <h1>Error Occurred!</h1>
    <div class="alert alert-danger" role="alert">
        <b>
            [<span th:text="${status}">status</span>]
            <span th:text="${error}">error</span>
        </b>
        <p th:text="${message}">message</p>
    </div>
</div>

teste aehooooo
</body>

</html>