<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmartFish</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/materialize.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:include="navigation::copy"></div>
<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('select').formSelect();
        $('.datepicker').datepicker({
            maxDate: new Date(),
            defaultDate: new Date(),
            container: $('body'),
            setDefaultDate: true
        });
    });
    $(".nav-title").text("SmartFish");
    $("#fish").addClass("orange accent-4");
</script>
<div class="center-align" style="margin: 20px">
    <a href="#modal_fish_add"
       class="btn-large orange accent-4 waves-light waves-effect modal-trigger">
        <i class="material-icons left">add</i>
        Adicionar Peixe
    </a>
    <a href="#modal_fish_find"
       class="btn-large orange accent-4 waves-light waves-effect modal-trigger">
        <i class="material-icons left">search</i>
        Encontrar Peixe
    </a>
</div>

<div style="margin-top: 150px" th:unless="${#lists.size(fishes) > 0}">
    <h4 class="center-align">Nenhum peixe encontrado!</h4>
</div>
<div th:if="${#lists.size(fishes) > 0}">
    <th:block th:each="fish : ${fishes}">
        <div class="row">
            <div class="col s10 push-s1 m8 offset-m2 l6 offset-l3" th:object="${fish}">
                <a th:href="'/fish/'+*{id}">
                    <div class="card card-panel hoverable" style="padding: 12px">
                        <p class="card-title"
                           th:text="(${fish.species != null and fish.species != ''} ? *{species}+' - ' : '') + *{tag} + (${fish.labId != null and fish.labId != ''} ? ' ['+*{labId}+']' : '')">
                            Teste de texto</p>
                        <p th:if="*{tank != null}" th:text="*{tank.name}"></p>
                        <p class="valign-wrapper" th:switch="*{gender}">
                            <img th:unless="*{discarded}" th:case="1" style="height: 24px" th:src="@{../../images/male.png}"/>
                            <img th:unless="*{discarded}" th:case="2" style="height: 24px" th:src="@{../../images/female.png}"/>
                            <img th:if="*{discarded}" style="height: 24px" th:src="@{../../images/discarded.png}"/>
                            <span style="margin-left: 12px" th:text="|*{size} cm - *{weight}kg|"></span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </th:block>
</div>

<div class="modal form" id="modal_fish_add">
    <div class="modal-content">
        <div class="valign-wrapper row">
            <div class="col s12 m12 l12 ">
                <form th:action="@{/fish/new}" th:object="${fish}" method="post">
                    <h5 style="margin-bottom: 40px">Novo Peixe</h5>
                    <div class="input-field row">
                        <input type="text" th:field="*{tag}" id="tag"/>
                        <label for="tag">Tag</label>
                    </div>
                    <div class="input-field row">
                        <input type="text" th:field="*{labId}" id="labId"/>
                        <label for="labId">Registro do laboratório</label>
                    </div>
                    <div class="input-field row">
                        <input type="text" th:field="*{species}" id="species"/>
                        <label for="species">Especie</label>
                    </div>
                    <div class="input-field row">
                        <input type="text" th:field="*{locality}" id="locality"/>
                        <label for="locality">Local de coleta</label>
                    </div>
                    <div class="input-field row">
                        <input type="text" class="datepicker" th:field="*{dateCapture}" id="dateCapture"/>
                        <label for="dateCapture">Data de coleta</label>
                    </div>
                    <div class="input-field row">
                        <input type="number" th:field="*{size}" id="size"/>
                        <label for="size">Tamanho</label>
                    </div>
                    <div class="input-field row">
                        <input type="number" th:field="*{weight}" id="weight"/>
                        <label for="weight">Peso</label>
                    </div>
                    <div class="input-field row">
                        <select id="sexo" th:field="*{gender}">
                            <option value="0" selected="selected">Indeterminado</option>
                            <option value="1">Masculino</option>
                            <option value="2">Feminino</option>
                        </select>
                        <label for="sexo">Sexo</label>
                    </div>
                    <div class="input-field row">
                        <textarea id="textarea1" th:field="*{observation}" class="materialize-textarea"></textarea>
                        <label for="textarea1">Observações</label>
                    </div>
                    <div class="card-action right-align modal-footer">
                        <button type="reset" class="btn-large modal-action modal-close waves-effect orange accent-4">
                            Cancelar
                        </button>
                        <button type="submit" class="btn-large modal-action waves-effect orange accent-4">
                            Criar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" style="width: 30%" id="modal_fish_find">
    <div class="modal-content">
        <div class="valign-wrapper row">
            <div class="col s12 m12 l12 ">
                <form th:action="@{/fish/find}" method="get">
                    <h5 style="margin-bottom: 40px">Encontrar peixe</h5>
                    <span >Utilize o campo abaixo para encontrar o peixe pelo número de registro do laboratório ou tag eletrônica.</span>
                    <div class="input-field row">
                        <input type="text" id="find_text" name="find_text"/>
                        <label for="find_text">Tag ou número de registro</label>
                        <div class="card-action right-align modal-footer">
                            <button type="reset" class="btn modal-action modal-close waves-effect orange accent-4">
                                Cancelar
                            </button>
                            <button type="submit" class="btn modal-action waves-effect orange accent-4">
                                Encontrar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:if="${fishCreated}">
    <script>
        $(document).ready(function () {
            M.toast({html: 'Novo peixe criado com sucesso!'})
        })
    </script>
</th:block>
</body>
</html>