<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmartFish</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/materialize.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:include="navigation::copy"></div>
<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('select').formSelect();
        $('.collapsible').collapsible();
        $('.datepicker').datepicker({
            container: $('body'),
            setDefaultDate: true
        });
        $('.datepicker.reprod').datepicker({
            maxDate: new Date(),
            defaultDate: new Date(),
            container: $('body'),
            setDefaultDate: true
        });
    });
    $("#fish").addClass("orange accent-4");
</script>
<div th:object="${fish}" style="margin: 20px">
    <div class="valign-wrapper" style="width: fit-content; margin: 0 auto" th:switch="*{gender}">
        <img th:unless="*{discarded}" th:case="1" style="height: 40px" th:src="@{/images/male.png}"/>
        <img th:unless="*{discarded}" th:case="2" style="height: 40px" th:src="@{/images/female.png}"/>
        <img th:if="*{discarded}" style="height: 40px" th:src="@{/images/discarded.png}"/>
        <h4 style="margin: 20px "
            th:text="(*{species != null and species != ''} ? *{species}+' - ' : '') + *{tag} + (*{labId != null and labId != ''} ? ' ['+*{labId}+']' : '')"></h4>
    </div>
</div>

<div class="center-align" th:unless="${fish.discarded}">
    <a href="#modal_fish_add_reprod"
       class="btn orange accent-4 waves-light waves-effect modal-trigger">
        <i class="material-icons left">event</i>
        Adicionar reprodução
    </a>
    <a href="#modal_fish_edit"
       class="btn orange accent-4 waves-light waves-effect modal-trigger">
        <i class="material-icons left">edit</i>
        Alterar dados
    </a>
    <a href="#modal_fish_discard"
       class="btn orange accent-4 waves-light waves-effect modal-trigger">
        <i class="material-icons left">delete</i>
        Descartar
    </a>
    <a th:href="|/fish/${fish.id}/move|"
       class="btn orange accent-4 waves-light waves-effect modal-trigger">
        <img class="left" src="../../images/water.png">
        Mover para tanque
    </a>
</div>

<div class="row" th:object="${fish}">
    <div th:class="*{discarded} ? 'col s6 push-s3' : 'col m6 s12 left'">
        <div class="row">
            <div class="col s10 push-s1 m10 push-m1 l10 push-l1">
                <table>
                    <tr th:if="*{observation != null and observation != ''}">
                        <td colspan="2">
                            <span th:text="*{observation}">Info</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="left">Tanque</span>
                        </td>
                        <td>
                            <a th:if="*{tank}" th:href="'/tank/'+*{tank.id}" class="right valign-wrapper">
                                <span style="margin-right: 20px" th:text="*{tank.name}">Content 1</span>
                                <img style="height: 24px" src="../../images/next.png"/>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="left">Tamanho</span>
                        </td>
                        <td>
                            <span class="right" th:text="|*{size} cm|">Content 1</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="left">Peso</span>
                        </td>
                        <td>
                            <span class="right" th:text="|*{weight} kg|">Content 1</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="left">Local de coleta</span>
                        </td>
                        <td>
                            <span class="right" th:text="*{locality}">Content 1</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="left">Data de coleta</span>
                        </td>
                        <td>
                            <span class="right"
                                  th:text="*{#calendars.format(dateCapture,'dd/MM/yyyy')}">Content 1</span>
                        </td>
                    </tr>
                    <tr class="collapsible">
                        <td colspan="2">
                            <div class="collapsible-header">
                                <span class="left">Histórico reprodutivo</span>
                                <div class="right valign-wrapper">
                                    <span style="margin-right: 20px" th:if="*{#lists.size(reprodutiveHistory) > 0}"
                                          th:text="*{#lists.size(reprodutiveHistory)} + (*{#lists.size(reprodutiveHistory) > 1} ? ' reproduções' : ' reprodução')">Content 1</span>
                                    <span th:if="*{#lists.size(reprodutiveHistory) == 0}">Nenhuma reprodução</span>
                                    <img style="height: 24px" src="../../images/next.png"/>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <ul>
                                    <th:block th:each="date : *{reprodutiveHistory}">
                                        <li class="center">
                                            <p th:text="${#calendars.format(date, 'dd/MM/yyyy')}">Date</p>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div th:unless="*{discarded}" class="col m6 l6 s12 right">
        <h5 class="center">Direcionamento de Cruzamento</h5>

        <th:block th:each="pair : ${relatives}">
            <div class="row">
                <div class="col s10 push-s1"
                     th:object="${pair.fish1.id == fish.id ? pair.fish2 : pair.fish1}">
                    <a th:href="|/@{fish}/*{id}/|">
                        <div class="card card-panel hoverable" style="padding: 12px"
                             th:classappend="${pair.level > 0.375} ? 'red' : (${pair.level >  0.25} ? 'yellow' : 'green')">
                            <p class="card-title" th:text="(*{species != null and species != ''} ? *{species}+' - ' : '') + *{tag} + (${fish.labId != null and fish.labId != ''} ? ' ['+*{labId}+']' : '')">Teste de
                                texto</p>
                            <p th:if="*{tank != null}" th:text="*{tank.name}"></p>
                            <p class="valign-wrapper" th:switch="*{gender}">
                                <img th:unless="*{discarded}" th:case="1" style="height: 24px" th:src="@{../../images/male.png}"/>
                                <img th:unless="*{discarded}" th:case="2" style="height: 24px" th:src="@{../../images/female.png}"/>
                                <img th:if="*{discarded}" style="height: 24px" th:src="@{../../images/discarded.png}"/>
                                <span style="margin-left: 12px" th:text="|*{size} cm - *{weight}kg|"></span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>
</div>

<div class="modal form" id="modal_fish_edit">
    <div class="modal-content">
        <div class="valign-wrapper row">
            <div class="col s12 m12 l12 ">
                <form th:action="@{/fish/edit}" th:object="${fish}" method="post">
                    <h5 style="margin-bottom: 40px">Alterar dados do peixe</h5>
                    <div class="input-field row">
                        <input type="text" th:value="*{tag}" id="tag" disabled="disabled"/>
                        <label for="tag">Tag</label>
                    </div>
                    <div class="input-field row">
                        <input type="text" th:value="*{labId}" th:field="*{labId}" id="labId"/>
                        <label for="labId">Registro do laboratório</label>
                    </div>
                    <div class="input-field row">
                        <input type="text" th:value="*{species}" th:field="*{species}" id="species"/>
                        <label for="species">Especie</label>
                    </div>
                    <div class="input-field row">
                        <input type="text" th:value="*{locality}" th:field="*{locality}" id="locality"/>
                        <label for="locality">Local de coleta</label>
                    </div>
                    <div class="input-field row">
                        <input type="text" class="datepicker" th:value="*{#calendars.format(dateCapture,'dd/MM/yyyy')}"
                               name="dateCapture" id="dateCapture"/>
                        <label for="dateCapture">Data de coleta</label>
                    </div>
                    <div class="input-field row">
                        <input type="number" th:value="*{size}" th:field="*{size}" id="size"/>
                        <label for="size">Tamanho</label>
                    </div>
                    <div class="input-field row">
                        <input type="number" th:value="*{weight}" th:field="*{weight}" id="weight"/>
                        <label for="weight">Peso</label>
                    </div>
                    <div class="input-field row">
                        <select id="sexo" th:value="*{gender}" th:field="*{gender}">
                            <option value="0" selected="selected">Indeterminado</option>
                            <option value="1">Masculino</option>
                            <option value="2">Feminino</option>
                        </select>
                        <label for="sexo">Sexo</label>
                    </div>
                    <div class="input-field row">
                        <textarea id="textarea1" th:value="*{observation}" th:field="*{observation}"
                                  class="materialize-textarea"></textarea>
                        <label for="textarea1">Observações</label>
                    </div>
                    <input hidden="hidden" th:value="*{id}" th:field="*{id}">
                    <input hidden="hidden" th:value="*{tag}" th:field="*{tag}">
                    <input th:if="*{tank}" hidden="hidden" th:value="*{tank.id}" name="tank_id">
                    <div class="card-action right-align modal-footer">
                        <button type="reset" class="btn-large modal-action modal-close waves-effect orange accent-4">
                            Cancelar
                        </button>
                        <button type="submit" class="btn-large modal-action waves-effect orange accent-4">
                            Alterar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal_fish_discard">
    <form th:action="@{/fish/discard}" method="post">
        <div class="modal-content">
            <h5>Tem certeza que deseja descartar este peixe?</h5>
            <input type="hidden" th:value="${fish.id}" name="fish_id">
            <div class="right-align modal-footer">
                <button type="reset"
                        class="btn modal-action modal-close waves-effect orange accent-4">
                    Cancelar
                </button>
                <button type="submit"
                        class="btn modal-action modal-close waves-effect orange accent-4">
                    Descartar
                </button>
            </div>
        </div>
    </form>
</div>

<div class="modal" id="modal_fish_add_reprod">
    <form th:action="@{/fish/add_reprod}" method="post">
        <div class="modal-content">
            <p>Selecione a data de reprodução:</p>
            <div class="input-field">
                <input type="text" class="datepicker reprod" id="dateReprod" name="date_reprod"/>
                <label for="dateReprod">Data de coleta</label>
            </div>
            <input type="hidden" th:value="${fish.id}" name="fish_id">
            <div class="right-align modal-footer">
                <button type="reset"
                        class="btn modal-action modal-close waves-effect orange accent-4">
                    Cancelar
                </button>
                <button type="submit"
                        class="btn modal-action modal-close waves-effect orange accent-4">
                    Adicionar
                </button>
            </div>
        </div>
    </form>
</div>
<input hidden="hidden" th:value="${errorMessage}" id="errorMessage">
<th:block th:if="${reprodSuccess != null}">
    <script th:if="${reprodSuccess}">
        $(document).ready(function () {
            M.toast({html: 'Data de reprodução adicionada com sucesso!'})
        })
    </script>
    <script th:unless="${reprodSuccess}">
        $(document).ready(function () {
            M.toast({html: 'Não foi possível adicionar date de reprodução!'})
        })
    </script>
</th:block>
<th:block th:if="${discardSuccess != null}">
    <script th:if="${discardSuccess}">
        $(document).ready(function () {
            M.toast({html: 'Peixe descartado com sucesso!'})
        })
    </script>
    <script th:unless="${discardSuccess}">
        $(document).ready(function () {
            M.toast({html: 'Não foi possível descartar o peixe!'})
        })
    </script>
</th:block>
<th:block th:if="${editSuccess != null}">
    <script th:if="${editSuccess}">
        $(document).ready(function () {
            M.toast({html: 'Dados do peixe alterado com sucesso!'})
        })
    </script>
    <script th:unless="${editSuccess}">
        $(document).ready(function () {
            var errorMessage = $("#errorMessage").val();
            if (errorMessage !== '') {
                M.toast({html: errorMessage})
            } else {
                M.toast({html: 'Não foi possível alterar os dados do peixe!'})
            }
        })
    </script>
</th:block>
<th:block th:if="${moveSuccess != null}">
    <script th:if="${moveSuccess}">
        $(document).ready(function () {
            M.toast({html: 'Peixe movido de tanque com sucesso!'})
        })
    </script>
    <script th:unless="${moveSuccess}">
        $(document).ready(function () {
            var errorMessage = $("#errorMessage").val();
            if (errorMessage !== '') {
                M.toast({html: errorMessage})
            } else {
                M.toast({html: 'Não foi possível mover o peixe para o outro tanque!'})
            }
        })
    </script>
</th:block>
</body>
</html>