<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmartFish</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/materialize.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="valign-wrapper row" style="height: 100%; width: 100%; position:absolute;">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">

        <form th:action="@{/login}" method="post">
            <div class="card-content">
                <span class="card-title">Autenticação SmartFish</span>
                <div th:if="${param.error ne null}"><h5 class="red-text">Login ou senha inválido!</h5></div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="" id="username" name="username"/>
                        <label for="username">E-mail</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" class="validate" required id="pwd"
                               name="password">
                        <label for="username">Senha</label>
                    </div>
                </div>
            </div>

            <div class="card-action right-align">
                <button type="submit" class="btn-large waves-effect orange accent-4">Acessar</button>

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>