<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmartFish</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/materialize.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:fragment="copy">
    <nav class="blue darken-3 nav-extended" style="margin-bottom: 20px">
        <div class="nav-content">
            <span class="nav-title" style="margin-left: 10%">SmartFish</span>
        </div>
        <div class="nav-wrapper" style="margin-left: 10%">
            <ul>
                <li>
                    <a class="valign-wrapper" th:href="@{/fishes}"
                       id="fish">
                        <img th:src="@{/images/fish.png}"
                             style="filter: invert(100%); padding-right: 12px; height: 24px"/>
                        Peixes
                    </a>
                </li>
                <li>
                    <a class="valign-wrapper" th:href="@{/tanks}" id="tank">
                        <img th:src="@{/images/water.png}"
                             style="filter: invert(100%); padding-right: 12px; height: 24px"/>
                        Tanques
                    </a>
                </li>
                <li>
                    <a class="valign-wrapper" th:href="@{/users}" id="user">
                        <img th:src="@{/images/user.png}"
                             style="filter: invert(100%); padding-right: 12px; height: 24px"/>
                        Usuários
                    </a>
                </li>
                <li>
                    <a class="valign-wrapper" th:href="@{/upload}" id="upload">
                        <img th:src="@{/images/add.png}"
                             style="filter: invert(100%); padding-right: 12px; height: 24px"/>
                        Importar Planilha
                    </a>
                </li>
            </ul>
            <a class="valign-wrapper right" style="margin-right: 10%" th:href="@{/logout}" id="logout">
                <img th:src="@{/images/logout.png}" style="filter: invert(100%); padding-right: 12px; height: 24px"/>
                Sair
            </a>
        </div>
    </nav>
</div>
<script>
    $("li > a").removeClass("orange accent-4");
</script>
</body>
</html>