<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmartFish</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/materialize.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:include="navigation::copy"></div>
<script>
    $(document).ready(function () {
        $('div.card').click(function () {
            var numberOfChecked = $('input:checkbox:checked').length;

            if(numberOfChecked > 0) {
                $('button').removeAttr("disabled");
            } else {
                $('button').attr("disabled", "disabled");
            }
        });
    });
    $("#fish").addClass("orange accent-4");
</script>

<form th:action="@{/tank/add_fishes}" method="post">
    <div class="center-align " style="margin-bottom: 20px">
        <h5>Selecione os peixes para adicionar ao tanque "<span th:text="${tank.name}"></span>"</h5>
        <button disabled="disabled" type="submit" class="btn"><i class="material-icons left">add</i>Adicionar</button>
    </div>

    <th:block th:each="fish : ${fishes}">
        <div class="row">
            <div class="col s10 push-s1 m8 offset-m2 l6 offset-l3" th:object="${fish}">
                <div class="card card-panel hoverable" style="padding: 12px"
                     onclick="$(this).find(':checkbox').prop('checked', function (i, value) { return !value; });">
                    <div class="valign-wrapper" style="height: 100%;position: absolute;right: 20px;top: 0;">
                        <input type="checkbox" th:name="fishSelected" th:value="*{id}"
                               th:checked="${tank.id == fish.id} ? checked">
                        <span></span>
                    </div>
                    <p class="card-title"
                       th:text="(${fish.species != null and fish.species != ''} ? *{species}+' - ' : '') + *{tag} + (${fish.labId != null and fish.labId != ''} ? ' ['+*{labId}+']' : '')">
                        Teste de texto</p>
                    <p class="valign-wrapper" th:switch="*{gender}">
                        <img th:unless="*{discarded}" th:case="1" style="height: 24px" th:src="@{/images/male.png}"/>
                        <img th:unless="*{discarded}" th:case="2" style="height: 24px" th:src="@{/images/female.png}"/>
                        <img th:if="*{discarded}" style="height: 24px" th:src="@{/images/discarded.png}"/>
                        <span style="margin-left: 12px" th:text="|*{size} cm - *{weight}kg|"></span>
                    </p>
                </div>
            </div>
        </div>
    </th:block>
    <input hidden="hidden" th:name="tank_id" th:value="${tank.id}">
</form>
</body>
</html>