<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmartFish</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/materialize.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:include="navigation::copy"></div>
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
    $(".nav-title").text("SmartFish");
    $("#tank").addClass("orange accent-4");
</script>

<div class="center-align" style="margin-bottom: 20px" th:if="${fish}" th:object="${fish}">
    <h5>Selecione o tanque onde deseja inserir o peixe
        <span th:text="(*{labId != null and labId != ''}) ? *{tag} + ' ['+*{labId}+']' : *{tag}"></span>
    </h5>
</div>
<div class="center-align" style="margin-bottom: 20px" th:unless="${fish}">
    <a href="#modal_tank_add"
       class="btn-large orange accent-4 waves-light waves-effect modal-trigger">
        <i class="material-icons left">add</i>
        Adicionar Tanque</a>
</div>

<th:block th:each="tank : ${tanks}">
    <div class="row">
        <div class="col s10 push-s1 m8 offset-m2 l6 offset-l3">
            <a th:href="(${fish != null}) ? '/fish/move_to?tank_id='+${tank.id}+'&fish_id='+${fish.id} : '/tank/'+${tank.id}">
                <div class="card card-panel hoverable" style="padding: 12px">
                    <p class="card-title" th:text="${tank.name}">Teste de texto</p>
                    <p style="margin-left: 12px" th:text="${tank.description}"></p>
                    <p class="valign-wrapper" style="margin-left: 12px" th:if="${tank.fishes}"
                       th:text="|${tank.fishes.size()} peixes - ${tank.species}|">
                    </p>
                    <p style="margin-left: 12px" th:text="|Moratlidade: ${tank.mortality}|"></p>
                </div>
            </a>
        </div>
    </div>
</th:block>

<div class="modal" id="modal_tank_add" th:if="${tank}">
    <div class="modal-content">
        <div class="valign-wrapper row">
            <div class="col s12 m12 l12 ">
                <form th:action="@{/tank/new}" th:object="${tank}" method="post" id="addTankForm">
                    <div class="card-content">
                        <span class="card-title">Novo Tanque</span>
                        <div class="row">
                            <div class="col s12 input-field validate">
                                <input type="text" th:field="*{name}" id="name" required="required"/>
                                <label for="name">Nome do tanque:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 input-field">
                                <input type="text" th:field="*{description}" id="description"/>
                                <label for="description">Descrição:</label>
                            </div>
                        </div>
                    </div>

                    <div class="card-action right-align modal-footer">
                        <button type="reset" class="btn-large modal-action modal-close waves-effect orange accent-4">
                            Cancelar
                        </button>
                        <button type="submit" class="btn-large modal-action waves-effect orange accent-4">
                            Criar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:if="${removedTank}">
    <script>
        $(document).ready(function () {
            M.toast({html: 'O tanque foi removido com sucesso!'})
        })
    </script>
</th:block>
<th:block th:if="${editSuccess != null}">
    <script th:if="${editSuccess}">
        $(document).ready(function () {
            M.toast({html: 'O tanque foi editado com sucesso!'})
        })
    </script>
    <script th:unless="${editSuccess}">
        $(document).ready(function () {
            M.toast({html: 'Não foi possível editar o tanque'})
        })
    </script>
</th:block>
<th:block th:if="${tankCreated}">
    <script>
        $(document).ready(function () {
            M.toast({html: 'Tanque criado com sucesso!'})
        })
    </script>
</th:block>
<th:block th:if="${selectFishError}">
    <script>
        $(document).ready(function () {
            M.toast({html: 'Não foi possível listar os peixes para adicionar ao tanque!'})
        })
    </script>
</th:block>
</body>
</html>