<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmartFish</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/materialize.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:include="navigation::copy"></div>
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
    $("#tank").addClass("orange accent-4");
</script>

<div th:if="${errorDelete}">
    <h4 class="center-align red-text"> Não foi possível remover este tanque! </h4>
</div>

<div th:object="${tank}" style="width: 60%; margin: 0 auto">
    <h4 th:text="*{name}">Tanque X</h4>
    <p th:text="*{description}"></p>
    <p th:text="|Mortalidade: *{mortality}|"></p>
</div>

<div class="center-align">
    <a th:href="'/tank/'+${tank.id}+'/select_fishes/'"
       class="btn orange accent-4 waves-light waves-effect modal-trigger ">
        <i class="material-icons left">add</i>
        Adicionar peixes</a>
    <a href="#modal_tank_edit" th:if="${user != null and user.admin}"
       class="btn orange accent-4 waves-light waves-effect modal-trigger ">
        <i class="material-icons left">edit</i>
        Editar Tanque</a>
    <a href="#modal_tank_delete" th:if="${user != null and user.admin}"
       class="btn orange accent-4 waves-light waves-effect modal-trigger ">
        <i class="material-icons left">delete</i>
        Remover Tanque</a>
</div>

<th:block th:each="fish : ${tank.fishes}">
    <div class="row">
        <div class="col s6 push-s3" th:object="${fish}">
            <a th:href="|/@{fish}/*{id}/|">
                <div class="card card-panel hoverable" style="padding: 12px">
                    <p class="card-title"
                       th:text="(${fish.species != null and fish.species != ''} ? *{species}+' - ' : '') + *{tag} + (${fish.labId != null and fish.labId != ''} ? ' ['+*{labId}+']' : '')">
                        Teste de texto</p>
                    <p th:if="*{tank != null}" th:text="*{tank.name}"></p>
                    <p class="valign-wrapper" th:switch="*{gender}">
                        <img th:unless="*{discarded}" th:case="1" style="height: 24px" th:src="@{images/male.png}"/>
                        <img th:unless="*{discarded}" th:case="2" style="height: 24px" th:src="@{/images/female.png}"/>
                        <img th:if="*{discarded}" style="height: 24px" th:src="@{/images/discarded.png}"/>
                        <span style="margin-left: 12px" th:text="|*{size} cm - *{weight}kg|"></span>
                    </p>
                </div>
            </a>
        </div>
    </div>
</th:block>

<div class="modal" id="modal_tank_delete">
    <form th:action="@{/tank/delete}" method="get">
        <div class="modal-content">
            <h5>Tem certeza que deseja remover este tanque?</h5>
            <input type="hidden" th:value="${tank.id}" name="tank_id">
            <div class="right-align modal-footer">
                <button type="reset"
                        class="btn modal-action modal-close waves-effect orange accent-4">
                    Cancelar
                </button>
                <button type="submit"
                        class="btn modal-action modal-close waves-effect orange accent-4">
                    Remover
                </button>
            </div>
        </div>
    </form>
</div>

<div class="modal" id="modal_tank_edit">
    <div class="modal-content">
        <div class="valign-wrapper row">
            <div class="col s12 m12 l12 ">
                <form th:action="@{/tank/edit}" th:object="${tank}" method="post" id="addTankForm">
                    <div class="card-content">
                        <span class="card-title">Editar Tanque</span>
                        <div class="row">
                            <div class="col s12 input-field validate">
                                <input type="text" th:field="*{name}" id="name" required="required"/>
                                <label for="name">Nome do tanque:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 input-field">
                                <input type="text" th:field="*{description}" id="description"/>
                                <label for="description">Descrição:</label>
                            </div>
                        </div>
                        <input type="hidden" th:field="*{id}"/>
                    </div>

                    <div class="card-action right-align modal-footer">
                        <button type="reset" class="btn-large modal-action modal-close waves-effect orange accent-4">
                            Cancelar
                        </button>
                        <button type="submit" class="btn-large modal-action waves-effect orange accent-4">
                            Editar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:if="${fishAddedSuccess != null}">
    <script th:if="${fishAddedSuccess}">
        $(document).ready(function () {
            M.toast({html: 'Peixes adicionados com sucesso!'})
        })
    </script>
    <script th:unless="${fishAddedSuccess}">
        $(document).ready(function () {
            M.toast({html: 'Não foi possível adicionar os peixes!'})
        })
    </script>
</th:block>
</body>
</html>