<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmartFish</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/materialize.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:include="navigation::copy"></div>
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
    $(".nav-title").text("SmartFish - Importação da planilha de parentesco");
    $("#upload").addClass("orange accent-4");
</script>

<div class="valign-wrapper row" style="width: 100%; position:absolute;">
    <div class="col s10 pull-s1 m6 pull-m3" id="form">
        <div th:if="${message}" style="margin-bottom: 80px">
            <h5 th:text="${message}"></h5>
        </div>

        <div th:if="${error}">
            <h5 class="red-text" th:text="${error}"></h5>
        </div>

        <div class="center-align">
            <form method="POST" enctype="multipart/form-data" th:action="@{/upload}" th:object="${file}">
                <div class="file-field input-field">
                    <div class="btn right orange accent-4" style="margin-left: 12px">
                        <input type="file" name="file">
                        <span>Escolher</span>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path" accept=".xls, .xlsx" type="text">
                    </div>
                </div>
                <input class="btn-large orange accent-4" type="submit" value="Enviar"/>
            </form>
        </div>
    </div>
    <div class="col s2 pull-s5 hide" id="spinner">
        <div class="preloader-wrapper big active " style="margin-bottom: 80px">
            <div class="spinner-layer spinner-orange-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#upload").addClass("orange accent-4");
</script>
</body>
</html>