<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmartFish</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/materialize.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:include="navigation::copy"></div>
<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('#conf_password').keyup(function() {
            var pass = $('#password').val();
            var confpass = $('#conf_password');
            confpass[0].setCustomValidity("");
            if (pass !== confpass.val()) {
                confpass.addClass("invalid");
                confpass.removeClass("valid");
                confpass[0].setCustomValidity("A confirmação de senha não é igual à senha!");
            } else {
                confpass.addClass("valid");
                confpass.removeClass("invalid");
                confpass[0].setCustomValidity("");
            }
        });
        $('#addUserForm').submit(function (event) {
            var pass = $('#password').val();
            var confpass = $('#conf_password');
            if (pass !== confpass.val()) {
                confpass.addClass("invalid");
                confpass.removeClass("valid");
                event.preventDefault();
            } else {
                confpass.addClass("valid");
                confpass.removeClass("invalid");
            }
        });
    });
    $("#user").addClass("orange accent-4");
</script>
<div class="center-align" style="margin-bottom: 20px">
    <a href="#modal_user_add"
       class="btn-large orange accent-4 waves-light waves-effect modal-trigger">
        <i class="material-icons left">add</i>
        Adicionar Usuário</a>
</div>

<div>
    <th:block th:each="user : ${users}">
        <div class="row">
            <div class="col s6 push-s3">
                <div class="card card-panel hoverable" style="padding: 12px">
                    <input type="hidden" th:value="${user.id}"/>
                    <a href="#modal_tank_delete" class="edit-btn right modal-trigger"
                       onclick="$('#deleteId').val($(this).parent().find(':hidden').val())">
                        <img src="../../images/delete.png"/>
                    </a>
                    <p class="card-title" th:text="${user.name}">Teste de texto</p>
                    <p style="margin-left: 12px" th:text="${user.username}">teste@teste.com</p>
                </div>
            </div>
        </div>
    </th:block>
</div>

<div class="modal" id="modal_tank_delete">
    <form th:action="@{/user/delete}" method="post">
        <div class="modal-content">
            <h5>Tem certeza que deseja remover este usuário?</h5>
            <input type="hidden" id="deleteId" name="userId">
            <div class="right-align modal-footer">
                <button type="reset"
                        class="btn modal-action modal-close waves-effect orange accent-4">
                    Cancelar
                </button>
                <button type="submit"
                        class="btn modal-action modal-close waves-effect orange accent-4">
                    Remover
                </button>
            </div>
        </div>
    </form>
</div>

<div class="modal" id="modal_user_add">
    <div class="modal-content">
        <div class="valign-wrapper row">
            <div class="col s12 m12 l12 ">
                <form th:action="@{/user/new}" th:object="${user}" method="post" id="addUserForm">
                    <div class="card-content">
                        <span class="card-title">Novo Usuário</span>
                        <div class="row">
                            <div class="col s12">
                                <label for="name">Nome completo:</label>
                                <input type="text" th:field="*{name}" id="name"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label for="email">E-mail:</label>
                                <input type="email" class="validate" th:field="*{username}" id="email"
                                       required="required"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label for="password">Senha:</label>
                                <input type="password" class="validate" th:field="*{password}" id="password"
                                       required="required"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label for="conf_password">Confirmar senha:</label>
                                <input type="password" id="conf_password" required="required"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p>
                                    <label>
                                        <input type="checkbox" th:field="*{admin}" id="isAdmin" name="isAdmin"/>
                                        <span>Usuário tem direitos de administrador</span>
                                    </label>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card-action right-align modal-footer">
                        <button type="reset" class="btn-large modal-action modal-close waves-effect orange accent-4">
                            Cancelar
                        </button>
                        <button type="submit" class="btn-large  waves-effect orange accent-4">
                            Criar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:if="${userCreated != null}">
    <script th:if="${userCreated}">
        $(document).ready(function () {
            M.toast({html: 'O usuário foi criado com sucesso!'})
        })
    </script>
    <script th:unless="${userCreated}">
        $(document).ready(function () {
            M.toast({html: 'Não foi possível criar o usuário'})
        })
    </script>
</th:block>
<th:block th:if="${userDeleted != null}">
    <script th:if="${userDeleted}">
        $(document).ready(function () {
            M.toast({html: 'O usuário foi removido com sucesso!'})
        })
    </script>
    <script th:unless="${userDeleted}">
        $(document).ready(function () {
            M.toast({html: 'Não foi possível remover o usuário'})
        })
    </script>
</th:block>
</body>
</html>